###> symfony/framework-bundle ###
.env
.DS_Store
/public/bundles/
/public/upload/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn.lock
###< symfony/webpack-encore-bundle ###
